<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meff_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,230},{50,8}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,68},{50,8}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,78},{48,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{48,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{48,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{54,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{54,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,68}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,154},{60,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{50,20}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,56},{50,20}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,110},{50,36}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{50,36}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,58},{50,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{54,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{54,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{60,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Meff_23_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{54,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,72}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Meff_23.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce6a7985907131e40c3e2ebf7b9c35e$</string>
            <key>textureFileName</key>
            <string>Meff_23.png</string>
        </dict>
    </dict>
</plist>
