<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meff_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,32},{56,26}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{56,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{64,14}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{64,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{56,28}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{56,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{56,20}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,44},{56,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,60},{60,18}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,45},{60,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{64,22}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,24}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{64,20}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,60},{64,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{64,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{64,14}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{64,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Meff_1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7e0c9ce25325c9a316417e27d9439c2$</string>
            <key>textureFileName</key>
            <string>Meff_1.png</string>
        </dict>
    </dict>
</plist>
