<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meff_18(state)_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,156},{52,24}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{52,24}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{48,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,214},{48,30}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,264},{44,28}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{44,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,250},{44,28}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,308},{42,30}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,290},{42,32}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{42,30}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{48,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,188},{48,30}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,246},{44,28}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{44,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,220},{44,28}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,276},{42,30}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,246},{42,32}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,320},{42,30}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18(state)_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,246},{46,28}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{46,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,182},{30,10}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,66},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,128},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{48,46}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,182},{50,30}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{50,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,334},{36,22}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{46,20}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{40,28}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{40,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,280},{42,42}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,276},{42,42}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{58,50}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,182},{62,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_18_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Meff_18.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdcd337f5d2f66afaade36025188bc8f$</string>
            <key>textureFileName</key>
            <string>Meff_18.png</string>
        </dict>
    </dict>
</plist>
