<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meff_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,36},{4,4}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{4,4}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,110},{22,14}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{20,18}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{20,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,98},{22,24}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{20,32}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{20,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,72},{24,24}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,78},{30,18}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{30,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{20,8}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,51},{20,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,36},{10,4}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{10,4}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,110},{12,8}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,55},{12,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,98},{18,10}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{18,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{24,16}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{24,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,42},{28,18}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{28,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{34,28}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{34,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{26,30}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{26,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,38}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{24,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,22},{18,18}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Meff_3.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cae784f8f3bc67106c1f99ca2aab80d$</string>
            <key>textureFileName</key>
            <string>Meff_3.png</string>
        </dict>
    </dict>
</plist>
