<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meff_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Meff_11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Meff_11.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f5d6c14fb652d7771b8810cc953c67$</string>
            <key>textureFileName</key>
            <string>Meff_11.png</string>
        </dict>
    </dict>
</plist>
